@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Web Calculator</h1>
</div>

<form method="post">
    <div class="form-control-lg">
        <div>
            <label class="form-label" for="calculation-method">Calculation method:</label>
            <select class="form-select" asp-for="CalcMethod">
                <option>--- Select method ---</option>
                <option value="add">Add</option>
                <option value="subtract">Subtract</option>
                <option value="multiply">Multiply</option>
                <option value="divide">Divide</option>
            </select>
        </div>
        <div class="mt-2 form-control">
            <label class="form-label" for="first-number-input">First number:</label>
            <input id="first-number-input" type="number" asp-for="FirstNumber" />
            <label class="form-label" for="second-number-input">Second number:</label>
            <input id="second-number-input" type="number" asp-for="SecondNumber" />
        </div>
        <div class="mt-2">
            <button type="submit">Calculate!</button>
        </div>
    </div>
</form>
